extends base.pug

block content

  if err
    div.alert.alert-danger
      p=err

  else
    - var portfolioValueBTC = balances.map((b) => parseFloat(b["btcValue"])).reduce((a, b)=>a+b, 0)
    h1 Your Portfolio - #{portfolioValueBTC.toString().substr(0, 7)} BTC

    .row
      .col-sm-9
        table.table
          thead
            tr
              th Currency
              th Balance
              th Bitcoin Value
          tbody
            each b in balances.sort((a, b) => b["btcValue"] - a["btcValue"])
              tr
                td=b["currency"]
                td=b["amount"]
                td=b["btcValue"]
      .col-sm-3
        canvas#portfolio-pie

    .row
      .col-md-12
        table.table
          thead
            tr
              th Statistic
              th Value
          tbody
            tr
              td Total profit
              td Uncalculated
            tr
              td Percentage profit
              td Uncalculated
            tr
              td Total fees payed
              td Uncalculated
            tr
              td Percentage fees
              td Uncalculated
    .row
      .col-md-12
        h1 Value History
        canvas#portfolio-value-history

    // Set variables and include code for charting
    script.
      var cryptoBalances = !{JSON.stringify(balances)}
      var portfolioHistory = !{JSON.stringify(portfolioHistory)}
    script(src='/static/js/portfolio.js')


    .row
      .col-md-12
        h1 Your Portfolio according to value history calculations
        table.table
          thead
            tr
              th Currency
              th Balance
          tbody
            each b in portfolioHistory[portfolioHistory.length-1].balances
              tr
                td=b["currency"]
                td=b["amount"]
