extends ../base.pug

block content
  h1 Status
  hr
  p Polytrader version
    if commitHash
      code=commitHash.substring(0, 9)
    else
      code undefined
    |  updated on

    if commitTime
      code=commitTime.replace(/^\s+|\s+$/g, '')
    else
      code undefined

    | . Current Queue size is
    code=queueLength
    | .

  h2 Services (#{services.length} in database)
  table.table
    thead
      tr
        th Service
        th API Status
        th Last sync
        th Sync success rate
    tbody
      each service in services
        tr
          td=service.name
          td
            span.badge.badge-success Fully Operational
          td 30 seconds ago
          td 89%

  h2 Currencies (#{currencies.length} in database)

  div(style="max-height: 30em; overflow-y: scroll;")
    table.table
      thead
        tr
          th Pair
          th Oldest Timestamp
          th Newest Timestamp
      tbody
        each currency in currencies
          tr
            td=currency.currencyPair
            td=currency.oldestTimestamp.toISOString()
            td=currency.newestTimestamp.toISOString()
