extends ../base.pug

block content
  h1 Status
  hr
  p This status page should report the success rate of various exchange apis
  table.table
    thead
      tr
        th Service
        th API Status
        th Last sync
        th Sync success rate
    tbody
      each service in services
        tr
          td=service.name
          td
            span.badge.badge-success Fully Operational
          td 30 seconds ago
          td 89%

  h2 Currencies (#{currencies.length} in database)

  table.table
    thead
      tr
        th Pair
        th Oldest Timestamp
        th Newest Timestamp
    tbody
      each currency in currencies
        tr
          td=currency.currencyPair
          td=currency.oldestTimestamp.toISOString()
          td=currency.newestTimestamp.toISOString()
