extends ../base.pug

block content

  if err
    div.alert.alert-danger
      p=err

  else
    - var portfolioValueBTC = portfolioHistories.map((b) => parseFloat(b["btcValue"])).reduce((a, b)=>a+b, 0)
    h1 Your Portfolio - #{portfolioValueBTC.toString().substr(0, 7)} BTC

    .row
      .col-sm-9
        table.table
          thead
            tr
              th Currency
              th Balance
              th Bitcoin Value
          tbody
            //- each b in balances.sort((a, b) => b["btcValue"] - a["btcValue"])
            //-   tr
            //-     td=b["currency"]
            //-     td=b["amount"]
            //-     td=b["btcValue"]
      .col-sm-3
        canvas#portfolio-pie

    .row
      .col-md-12
        #portfolio-value-history

    // Set variables and include code for charting
    script(src="https://code.highcharts.com/stock/highstock.src.js")
    script(src="https://code.highcharts.com/stock/modules/exporting.js")
    script.
      var portfolioHistories = !{JSON.stringify(portfolioHistories)}
    script(src='/static/js/portfolio.js')

    br
    br
    .row
      .col-md-12
        table.table
          thead
            tr
              th Statistic
              th Value
          tbody
            tr
              td Total profit
              td Uncalculated
            tr
              td Percentage profit
              td Uncalculated
            tr
              td Total fees payed
              td Uncalculated
            tr
              td Percentage fees
              td Uncalculated
